motor==3.7.1
fastapi==0.115.13
hypercorn==0.17.3
dnspython==2.7.0
email-validator==2.2.0
pylint==3.3.7
pytest==8.4.1
coverage==7.9.1
pytest-cov==6.2.1
pytest-asyncio==1.0.0
certifi==2025.6.15
charset-normalizer==3.4.2
requests==2.32.4
urllib3==2.5.0
MarkupSafe==3.0.2
httptools==0.6.4
itsdangerous==2.2.0
orjson==3.10.18
python-multipart==0.0.20
six==1.17.0
ujson==5.10.0
uvicorn==0.34.3
mongomock==4.3.0
mongomock-motor==0.0.36
pydantic[email]==2.11.7
httpx==0.28.1
prometheus-client==0.22.1
